@using queue_management.Models
@model IEnumerable<queue_management.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var total = Model.Count();
}
<!-- ============================ Encabezado Principal ============================ -->
<!-- Título -->
<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-8 text-center">
        <h1 class="display-6">
            <i class="bi bi-globe-americas"></i>  Listado de Países
        </h1>
    </div>
</div>
<!-- ============================ Botón de Creación nuevo Elemento ============================ -->
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <div class="float-right">
            <a asp-action="Create" asp-controller="Countries" class="btn btn-success d-block mx-auto btn-lg">
                <i class="bi bi-send-plus mr-2"></i>&nbsp;&nbsp;Nuevo País
            </a>
        </div>
    </div>
</div>
<!-- ============================ Definición de Tabla con detalle de registros ============================ -->
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Listado de @Model.Count() País(es)</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" id="tablaCountries" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CountryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CustomCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VisibilityStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsDefault)
                                </th>
                                <th>Acciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CountryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VisibilityStatus)
                                    </td>

                                    <td>
                                        @if (item.IsDefault)
                                        {
                                            <i class="bi bi-house-fill text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-house-fill text-muted"></i>
                                        }
                                        @(item.IsDefault ? "Sí" : "No")
                                    </td>
                                    <td class="text-nowrap">
                                        <a class="btn btn-md btn-warning" asp-action="Edit" asp-route-id="@item.CountryId">
                                            <i class="bi bi-pencil"></i> Editar
                                        </a>
                                                <a class="btn btn-md btn-info" asp-action="Details" asp-route-id="@item.CountryId">
                                            <i class="bi bi-info-square"></i> Detalle
                                        </a>
                                                <a class="btn btn-md btn-danger" asp-action="Delete" asp-route-id="@item.CountryId">
                                            <i class="bi bi-trash"></i> Borrar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaCountries').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
